.image {
  border-radius: 8px;
  object-fit: contain;
}

.link div {
  height: 100% !important;
  width: 100% !important;
  top: 0;
}

.link {
  max-width: 100%;
  background: #1A202C;
}

.link > div:first-of-type {
  position: absolute !important;
}

.link > div:last-of-type {
  position: relative !important;
}

.link:hover > div:last-of-type,
.link:focus > div:last-of-type {
  opacity: 0 !important;
}

.link:hover p,
.link:focus p {
  opacity: 0.5;
}
