.size {
  height: 100vh;
  width: 100vw;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 2rem;
  text-align: center;
}

.content {
  font-size: 1.5rem;
  text-align: center;
}

.button {
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
}

.button:focus {
  outline-color: black;
}

.play {
  composes: button;
  background-color: #238823;
}

.return {
  composes: button;
  background-color: #d2222d;
}
